.blog{
  background: #efefef;
}
.blog__big-image{
  width: 90%;
  margin:10px auto;
  min-height: 100px;
  padding: 80px 0 40px;
}
.blog__contain{
  margin: 0 50px 40px;
}
.blog__contain, .blog__contain article{
  padding:10px;
}
.blog__contain h3{
  text-align: start;
  width: 100%;
}
.blog__contain h1{
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.paragraph{
  font-size: var(--normal);
}
.blog__user-actions{
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 250px;
  background: var(--opaque-color-orange);
  margin-top: 70px;
}
.user-actions__contacts, .user-actions__write{
  margin:10px;
  justify-content: space-evenly;
  margin: 30px 0 50px;
}
.user-actions__contacts > div, .user-actions__write > div{
  flex-direction: column;
  margin-left: 10px;
  width: 160px;
  color: #010101;
}
.contacts__title,.write__title{
  font-size: var(--big);
  font-family: var(--primary-font);
  font-weight: var(--chubby);
  outline:none;
  border: none;
  background: transparent;
  width: max-content;
  cursor: pointer;
}
.contacts__description,.write__description, .contacts__description b ,.write__description b  {
  font-size: var(--normal);
}
.user-actions__contacts img, .user-actions__write img{
  width: 35%;
  max-width: 200px;
  height: 120px;
  margin-top: 20px;
}
/*Status*/
.contacts__title:hover,.write__title:hover{
    color: #535353;
    border-bottom: 2px solid #5fbaa7;
}
