/*Base*/
*{
  font-size: 62.5%;
}
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  font-family: var(--secondary-font);
}
:root{
    --opaque-color-green:#99bbad;
    --opaque-color-yellow:#ebd8b7;
    --opaque-color-pink:#c6a9a3;
    --opaque-color-purple:#9a8194;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --thin-openS:300;
    --thin-Monse:400;
    --chubby:500;
    --fat:700;
    --small:1.6rem;
    --normal:1.8rem;
    --big:2rem;
    --huge:2.5rem;
}
/*Elements*/
.background__images{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icons{
  display: inline-block;
  width: 48px;
  height: 48px;
  color: white;
}
.facebook{
    background-image: url("https://i.ibb.co/8bpTg6n/icons8-facebook-circled-50-1.png");
}
.twitter{
    background-image: url("https://i.ibb.co/FwhGNQM/icons8-twitter-circled-50-1.png");
}
.instagram{
  background-image: url("https://i.ibb.co/bbWNPY4/icons8-instagram-logo-48-1.png");
}
.linkedin{
  background-image: url("https://i.ibb.co/zZ2T5Gk/icons8-linkedin-circled-50.png");
}
.github{
  background-image: url("https://i.ibb.co/1QfHWF5/icons8-github-50.png");
}
a{
  text-decoration: none;
  display: inline;
  color: inherit;
  cursor: pointer;
}
img{
  width: 100%;
  height: 100%;
}
/*Layout*/
body{
  min-width: 320px;
  width: 100%;
}
.head,.head__social-medias-sec,.head__navigation, .principal-home,.principal-home__container, #canvas{
  display: grid;
}
.social-medias__container, .navigation__profile-link, .principal__container, .principal__graph, .principal__information, .blogs__secondary, .secondary__blog, .blog__user-actions, .user-actions__contacts, .user-actions__write, .user-actions__contacts > div, .user-actions__write > div, .my-info, .my-info__container, .my-projects__title1, .my-projects__web-development, .web-development__project, .project__image {
  display: flex;
}
.head {
  grid-template-rows: 1fr 1fr;
  height: 140px;
  background: var(--opaque-color-yellow);
  color:#222222;
}
.head__social-medias-sec{
  height: 50px;
  width: 100%;
  background:var(--opaque-color-green);
  padding:10px 0;
  text-align: center;
}
.head__navigation{
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.principal-home{
    grid-template-columns: 1fr 5fr 1fr ;
    height: calc(100vh - 140px);
    background-image: url("https://i.ibb.co/Pmg0RKT/pexels-roberto-nickson-2661176-1.jpg");
}
.principal-home__container{
  grid-column: 2;
  justify-items: center;
  height: inherit;
  margin-top: 5%;
}
/*Module*/
.social-medias__container{
  justify-items:flex-end;
  justify-content: space-between;
  width: 280px;
  height: auto;
  align-items: center;
  justify-self:end;
  margin: 0 auto;
}
.navigation__profile-link a{
  border-bottom:1px solid #575565;
  font-size: var(--small);
}
.head__navigation .navigation__logo a{
  display: inline-block;
  width: 200px;
}
.navigation__profile-link{
  justify-content: flex-end;
  margin-right:20px;
  min-width: 80px;
}
.container__welcome-title{
  font-family: var(--primary-font);
  font-size: var(--huge);
  font-weight: var(--fat);
  color:#725D9E;
  text-align:center;
  height: max-content;
  padding:0 2%;
  margin:0;
}
#canvas{
  align-self: center;
  align-items: center;
  cursor: pointer;
}
.container__principal-button{
  opacity: 0.6;
}
/*Estados*/
a:hover{
  color:#444444;
}
.icons:hover{
  opacity: 0.8;
  transform: scale(0.9);
}
.container__principal-button:hover{
  transform: translate(5px,-8px);
  opacity: 1;
}
/*Temas*/
