/*Components*/
/*My-info*/
.my-info{
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: max-content;
  align-items: center;
  padding: 70px 0;
}
.my-info__first-question, .my-info__second-question{
  border: 4px solid rgba(255,255,255,0.8);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 5%;
  display: inline-block;
  width: 150px;
  margin:  0 auto;
  padding: 20px;
  background: linear-gradient(145deg,#e34996, #9a49ad, #1a3f88);
  font-size: var(--big);
  font-weight: var(--chubby);
  color: white;
  text-align: center;
}
.my-info__detail{
  background-color: var(--opaque-color-green);
  display: none;
  height: max-content;
  font-size: var(--big);
  font-weight: var(--fat);
  color: #252142;
  padding:20px 50px;
  margin:0;
}
.my-info__detail li{
  margin-top:5px;
}
.my-info__photo{
  justify-content: center;
  background-image: url("https://i.ibb.co/BjMhDfB/dav.jpg");
  border: 2px solid var(--opaque-color-green);
  border-radius: 50%;
  min-width: 200px;
  height: 230px;
}
.photo__greeting{
  display: none;
  position: absolute;
  background: var(--opaque-color-green);
  border-radius: 20px;
  width:30vh;
  margin-top:146px;
  height: max-content;
  padding:10px;
  border: transparent;
  font-size: var(--normal);
}
.my-info__container{
  justify-content: center;
  height: max-content;
  width: 90%;
  margin: 10px auto;
}
/* projects*/
.my-projects{
  min-width: 320px;
  width: 100%;
  padding: 70px 0;
}
.my-projects__title1{
  align-items: center;
  margin-bottom: 20px;
}
.my-projects__title1 h2{
  margin-right: 10px;
  font-size: var(--big);
}
.my-projects__title1 span{
  width: 20px;
  height: 20px;
}
.my-projects__web-development{
    height:max-content;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x proximity;
    margin: 0 40px 0 20px;
    padding:10px;
}
.web-development__project{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align:center;
  width: 100%;
  padding: 10px;
  margin:0 10px;
  border: 2px solid var(--opaque-color-green);
  border-radius: 8px;
}
.web-development__project .project__image{
 margin-bottom: 20px;
 border-radius: 5px;
}
.project__image{
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.project__image div{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 48px;
  height: 60px;
  opacity: 0;
}
.table-image{
  background-image: url("https://i.ibb.co/Nt4gZmN/true-table.png");
}
.album-image{
 background-image: url("https://i.ibb.co/Jn6Cndg/album.png");
}
.BataBit-image{
  background-image: url("https://i.ibb.co/R67z5sd/bata-bit.png");
}
.google-image{
  background-image: url("https://i.ibb.co/vkmP6jQ/google-clone.png");
}
.project__image div:first-child{
  background-image: url("https://i.ibb.co/L5Wr18s/003-html.png");
}
.project__image div:nth-child(2){
  background-image: url("https://i.ibb.co/bKxpKSj/001-css.png");
}
.project__image .image__javascript{
  background-image: url("https://i.ibb.co/RPTDqkY/002-javascript.png");
}
.project__image .image__sass{
  background-image: url("https://i.ibb.co/s2QVPkX/icons8-sass-avatar-48.png");
}
.web-development__project span{
  text-align: center;
  margin-bottom: 20px;
}
.web-development__project p{
  font-size: var(--small);
  margin: 10px 0;
}
.web-development__project a{
  margin-top: 25px;
}
.web-development__project ul{
  margin: 0;
}
.web-development__project ul li,ul{
  font-size: var(--small);
}
.my-projects__web-development::-webkit-scrollbar{
    background: var(--opaque-color-green);
    height: 3px;
}
.my-projects__web-development::-webkit-scrollbar-thumb{
  background-color: var(--opaque-color-red);
}
/*Status*/
.my-info__container:hover .my-info__detail{
  display: inline-block;
}
.my-info__container:hover .my-info__second-question, .my-info__container:hover .my-info__first-question {
  display: none;
}
.project__image:hover{
  opacity:0.9;
}
.project__image:hover div {
  opacity: 1;
}
.my-info__photo:hover .photo__greeting{
  display: inline-block;
}
